*{
    box-sizing: border-box;
}




/* element selector */
body{
    background-color:#FF9E9E ;
    font-family: Cambria;

}
/* class selector */
.txt-primary{
    color: black;



}
.col{
    width: 25%;
    float: left;
}
.img-responsive{
    width: 100%;
    max-height: 500px;
}
.rounded{
    border-radius:50%;
}
.p-1{
    padding: 10px;
}